<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chasing"
        tools:ignore="MissingClass">

        <!-- 🔐 LOGIN (FIRST SCREEN) -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 📝 SIGNUP -->
        <activity
            android:name=".activities.SignupActivity"
            android:exported="false" />

        <!-- 🏠 MAIN -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- 👤 PROFILE -->
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />

        <!-- 🎉 EVENTS -->
        <activity
            android:name=".activities.EventsActivity"
            android:exported="false" />

        <!-- 🎭 SOCIETY -->
        <activity
            android:name=".activities.SocietyActivity"
            android:exported="false" />

        <!-- 💬 CHAT -->
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false" />

        <!-- 🔔 NOTIFICATIONS -->
        <activity
            android:name=".activities.NotificationsActivity"
            android:exported="false" />

    </application>

</manifest>